{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block conteudo %}

<div class="row">
    <div class="col-lg">

        {% block titulo_cadastro %}
        <h1>Cadastro</h1>
        {% endblock titulo_cadastro %}

        <form action="{% url 'perfil:criar' %}" method="POST">
            {% csrf_token %}
            {{ userform|crispy }}
            {{ perfilform|crispy }}

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" >Cadastrar</button>
                </div>
            </div>
        </form>
    </div>

    {% if not request.user.is_authenticated %}
    <div class="col-lg">
        <h1>Login</h1>
        <form action="{% url 'perfil:login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
        </form>
    </div>
    {% endif %}
</div>

{% endblock conteudo %}
